{% extends 'base.html.twig' %}

{% block title %}Cleura | Home
{% endblock %}

{% block body %}
	<section id="home">
		{# <turbo-frame id="turbo-login">
									<a id="turbo-login-link" href="{{ path('app_login') }}"></a>
								</turbo-frame> #}
		{# If connected and if only USER #}
			{% if app.user and app.user.roles[0] == 'ROLE_USER' %}
				<h1>
				Welcome
			{{ app.user.name }}
			</h1>
				<div class="dashboard"> <div {{ react_component( 'card/Card', { 'title': 'Forums', 'description': 'Get access to all our forums..', 'path': '/forum', 'image': 'build/images/forum-icon.png', 'imageAlt': 'An icon of chat bubbles' } ) }}>
					Loading...
					<i class="fas fa-cog fa-spin fa-2x"></i>
				</div>
				<div {{ react_component( 'card/Card', { 'title': 'Profile', 'description': 'Get access/modify your profil informations.', 'path': "/user/#{app.user.id}/edit", 'image' : 'build/images/profile-icon.png' , 'imageAlt' : 'An icon of a neutral gender person' } ) }}>
					Loading...
					<i class="fas fa-cog fa-spin fa-2x"></i>
				</div>
			</div>
			{# If connected and if only ADMIN #}
		{% elseif app.user and app.user.roles[0] == 'ROLE_ADMIN' %}
			<h1>Welcome
				{{ app.user.name }}</h1>
			<div class="dashboard">
				<div {{ react_component( 'card/Card', { 'title': 'Forums', 'description': 'Get access to all our forums..', 'path': '/forum', 'image': 'build/images/forum-icon.png', 'imageAlt': 'An icon of chat bubbles' } ) }}>
					Loading...
					<i class="fas fa-cog fa-spin fa-2x"></i>
				</div>
				<div {{ react_component( 'card/Card', { 'title': 'Profile', 'description': 'Get access/modify your profil informations.', 'path': "/user/#{app.user.id}/edit", 'image' : 'build/images/profile-icon.png' , 'imageAlt' : 'An icon of a neutral gender person' } ) }}>
					Loading...
					<i class="fas fa-cog fa-spin fa-2x"></i>
				</div>
				<div {{ react_component( 'card/Card', { 'title': 'Admin Dashboard', 'description': 'Manage the forums, posts and users. ', 'path': "/admin", 'image' : 'build/images/dashboard-icon.png' , 'imageAlt' : 'An icon of a dashboard with random graphs' } ) }}>

					Loading...
					<i class="fas fa-cog fa-spin fa-2x"></i>
				</div>
			</div>
			{# If not connected #}
		{% else %}
			<h1>Welcome to Cleura's Forum
			</h1>
			<h2>'Development Evaluation Test'</h2>
			<h3>Click on the 'Get Started' button to signin</h3>
			<p>For the admin profile, use the email: "admin@admin.se" and the password
				<strong>Cleur@2023</strong>
			</p>
			<p>For the user profile, use the email: "user@user.se" and the password
				<strong>Cleur@2023</strong>
			</p>
		{% endif %}
	</section>
{% endblock %}
