{% extends "base.html.twig" %}

{% block title %}
	Cleura | New Post
{% endblock %}

{% block body %}
	<section id="post-new">
		<h1>New Post on Forum
			{{ forum.name}}</h1>
			{# We place a toggle switch to define which form will be used, post or video #}
			<div class="switch__container">
				<p>Post</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
				<p>Video</p>
			</div>
		<div class="new__post__container">
			<div class="form">
				{{ form_start(form) }}
				<div id="new-post">
					{{ form_widget(form) }}
					<button type="submit" class="btn btn-primary">Create</button>
					<a href={{ path('app_forum_show', {'id': forum.id} )}} class="cancel__button">Cancel</a>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}
