{% extends 'base.html.twig' %}

{% block title %}Cleura | Forum
{% endblock %}

{% block body %}
	<section id="show-forum">
		<div class="show__forum">
			<div class="nav__back__button">
				<a href={{ path('app_forum')}}>
					<i class="fas fa-arrow-left"></i>
					Back to forums
				</a>
			</div>
			<h1>Forum -
				{{forum.name}}</h1>

			{% set jsAdminPosts = [] %}
			{% for post in posts %}
				{% set jsAdminPosts = jsAdminPosts|merge([{
				'id': post.id,
				'title': 'Post ' ~ post.id,
				'content': post.message,
				'author': post.author.name,
				'created_at': post.createdAt,
				'consult': path('app_post_show', {'id': post.id}),
				'edit': path('app_post_edit', {'id': post.id}),
				'delete': path('app_post_delete', {'id': post.id})
			}]) %}
			{% endfor %}
			{% set jsPosts = [] %}
			{% for post in posts %}
				{% set jsPosts = jsPosts|merge([{
				'id': post.id,
				'title': 'Post ' ~ post.id,
				'content': post.message,
				'author': post.author.name,
				'created_at': post.createdAt,
				'consult': path('app_post_show', {'id': post.id})
			}]) %}
			{% endfor %}

			{% if app.user and app.user.roles[0] == 'ROLE_ADMIN' %}
				<div {{react_component('post/PostsTable', {'posts': jsAdminPosts} )}}>
					Loading...<i class="fa fa-cog fa-spin fa-2x"></i>
				</div>
			{% elseif app.user and app.user.roles[0] == 'ROLE_USER' %}
				<div {{react_component('post/PostsTable', {'posts': jsPosts} )}}>
					Loading...<i class="fa fa-cog fa-spin fa-2x"></i>
				</div>
			{% endif %}
			<div class="new__post__btn__container">
				{% if app.user %}
					<a href="{{ path('app_post_new', {'forumId': forum.id} ) }}" class="btn btn-primary">New Post</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>{% endblock %}
